
  <h1 style=" font-family: 'Syne Mono', monospace; text-align: center; padding: 20px; color: white;">Usuarios</h1>
  <table class="table table-dark table-hover">
    <thead>
      <tr style=" font-family: 'Syne Mono', monospace;">
        <th scope="col">Id</th>
        <th scope="col">Email</th>
        <th scope="col">Nombre</th>
        <th scope="col">Rol</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users ">
        <th ></th>
        <td>{{user.email}}</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td colspan="2">Larry the Bird</td>
        <td>@twitter</td>
      </tr>
    </tbody>
  </table>
  
  <form class="box" action="index.html" method="post">
    <div style="padding: 5px;">
      <input  type="submit" name=""  value="Nuevo Usuario" >
    </div>
  </form>
    
  
  

 
  
