
<form  >
    <h1 style=" color: #00e17b; font-family: 'Patrick Hand SC', cursive; ">Usuarios</h1>
    <input class="btn btn-success btn-sm" (click)="verRegistrar()" type="submit" name="" value="Nuevo usuario">
    <table class="table table-striped table-dark table-bordered">
      
      <thead>
        <tr>
          <th style=" margin-left: auto; margin-right: auto;color: #00e17b; font-family: 'Patrick Hand SC', cursive; ">Nombre</th>
          <th style=" margin-left: auto; margin-right: auto;color: #00e17b; font-family: 'Patrick Hand SC', cursive; ">Email</th>
          <th style="color: #80d8ff; font-family: 'Patrick Hand SC', cursive; ">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <td><strong>{{user.nombre}}</strong></td>
          <td><strong>{{user.email}}</strong></td>
          <td><button (click) = "openConfirmationDialog(user.nombre )" class="btn btn-danger btn-sm" > Delete</button>
            <button class="btn btn-success btn-sm" style="margin-left: 20px;"> Edit</button>
          </td>
        </tr>
      </tbody>
    </table>
    
  </form>
    
  
  

 
  
